<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr class="info">
			<th width="20%">Name</th>
			<th width="40%">Input</th>
			<th width="40%">Output</th>
		</tr>
	</thead>
	<tbody>
		<!-- Capitalize -->
		<tr>
			<td>Capitalize</td>
			<td>{{ text }}</td>
			<td>{{ text | capitalize }}</td>
    </tr>

    <!-- Array Numbers Event -->
		<tr>
			<td>Array Number EVENT</td>
			<td>
        <ul>
          <li *ngFor="let num of arrNumber">{{ num }}</li>
        </ul>
      </td>
			<td>
        <ul>
            <li *ngFor="let num of arrNumber | array">{{ num }}</li>
        </ul>
      </td>
    </tr>

    <!-- Array Numbers Old -->
    <tr>
        <td>Array Number OLD</td>
        <td>
          <ul>
            <li *ngFor="let num of arrNumber">{{ num }}</li>
          </ul>
        </td>
        <td>
          <ul>
              <li *ngFor="let num of arrNumber | array:'odd'">{{ num }}</li>
          </ul>
        </td>
    </tr>

    <!-- Sort ASC -->
    <tr>
      <td>Sort -Asc</td>
      <td>
        <ul>
          <li *ngFor="let course of courseObj.require">{{ course }}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let course of courseObj.require | sortArray">{{ course }}</li>
        </ul>
      </td>
    </tr>

    <!-- Sort DESC -->
    <tr>
      <td>Sort - DESC</td>
      <td>
        <ul>
          <li *ngFor="let course of courseObj.require">{{ course }}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let course of courseObj.require | sortArray:'DESC' ">{{ course }}</li>
        </ul>
      </td>
    </tr>

    <!-- Capitalize -->
		<tr>
			<td>Summary String </td>
			<td>{{ summaryString}}</td>
			<td>{{ summaryString | summaryString:'20'}}</td>
    </tr>

    <!-- Array Category -->
    <tr>
      <td>Arrary Category</td>
      <td>
        <ul>
          <li *ngFor="let cate of arrCategory">{{ cate }}</li>
        </ul>
      </td>
      <td>
          {{ arrCategory |category }}
      </td>
    </tr>
	</tbody>
</table>
